body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    /* background-color: red; */
}

.header{
    display: flex;
    /* width: 100% - margin * 2; */
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    /* padding: 1%; */
    margin: 2%;
}
.header a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.header .menu{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header .headerbtns{
    display: flex;
    width: 15%;
    flex-direction: row;
    justify-content: space-between;
}
.main{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main .content{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    /* padding: 10px; */
    /* column-gap: 5%; */
    row-gap: 5%;
}

.item_img{
    
    width: 100%;
    height: 50%;
    object-fit: contain;

}

.card{
    width: 20vw;
    height: 50vh;
    border: 1px solid #995959;
    border-radius: 10px;
    background-color: #ffe5df;
    display: flex;
    flex-direction: column;
}
.card p{
    padding: 2%;
}
.card .info{
    /* height: 5%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card button{
    /* height: 20%; */
}