body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    /* background-color: red; */
}

.header{
    display: flex;
    /* width: 100% - margin * 2; */
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    /* padding: 1%; */
    margin: 2%;
}
.header a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.header .menu{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header .headerbtns{
    display: flex;
    width: 15%;
    flex-direction: row;
    justify-content: space-between;
}
.main{
    height: 100vh;
    
}
.main a{
    text-decoration: none;
    color: black;
}
.main div{
    /* width: 100%; */
    height: 30%;
    margin: 2%;
    border: 2px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main .bedroom{
    /* background-color: rgba(120, 120, 120, 0.5); */
    background: linear-gradient(rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0.5)), url('../img/categories_imgs/bedroom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    object-fit: scale-down;
    object-position: 50% 50%;
    
}
.main .kitchen{
    /* background-color: rgba(120, 120, 120, 0.5); */
    background: linear-gradient(rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0.5)), url('../img/categories_imgs/kitchen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    object-fit: scale-down;
    object-position: 50% 50%;
    
}
.main .kids-room{
    /* background-color: rgba(120, 120, 120, 0.5); */
    background: linear-gradient(rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0.5)), url('../img/categories_imgs/kids-room.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    object-fit: scale-down;
    object-position: 50% 50%;
    
}
.main .dining-room{
    /* background-color: rgba(120, 120, 120, 0.5); */
    
    background: linear-gradient(rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0.5)), url('../img/categories_imgs/dining-room.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    object-fit: scale-down;
    object-position: 50% 50%;
    
}
