
.end {
    color: white;
    background-color: black;
    padding: 20px 150px 100px 150px;
}
.end a{
    color: white;
}
.hhhd h3 {
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif, serif;
    font-style: normal;
    letter-spacing: 2px;
    color: #808080;
    font-size: 60px;
}
.hhhd {
    padding-bottom: 50px;
    border-bottom: 1px solid white;
}
.privacy {
    padding-top: 10px;
    padding-bottom: 50px;
    display: inline-flex;
}

.navigations {
    flex-grow: 1;
    flex-basis: 0;
    padding-right: 300px;
    line-height: 2em;
}

.nnav {
    flex-grow: 1;
    flex-basis: 0;
    display: inline-flex;
    justify-content: space-between;
    line-height: 2em;
}