body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    /* background-color: red; */
}

.header{
    display: flex;
    /* width: 100% - margin * 2; */
    /* width: 100%; */
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    /* padding: 1%; */
    margin: 2%;
}
.header a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.header a:hover{
    color: darkorange;
    transition: 0.2s;
}
.header .menu{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header .headerbtns{
    display: flex;
    width: 15%;
    flex-direction: row;
    justify-content: space-between;
}