@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color:#EAE9E5;
    margin:0;
    padding:0;
}
.row{
    display:flex;
}
.header{
    display:flex;
    justify-content:space-around;
    padding:40px 160px 40px 280px;
    font-size:20px;
}
.header div{
    padding-right:50px;
}

#dmhome {
    font-size: 30px;
    padding-left: 160px;
}
#dmhome:hover{
    color:coral;
}
.content{
    display:flex;
    justify-content:space-between;
}
.text{
    padding:40px 160px 30px 80px;
    font-size:20px;
}

.image{
    padding:50px 80px 30px 160px;
}
#img{
    border-radius:10%;
}
h1{
    font-size:25px;
}

 .popup{
     position:absolute;
     top:0;
     display:flex;
     justify-content:center;
     align-items:center;
     width:100%;
     height:100%;
     background-color:rgb(0,0,0,0.6);
 }
 .popup-content{
     cursor:pointer;
     background-color:white;
     height:330px;
     width:500px;
     position:relative;
     padding:20px;
     text-align:center;
     border-radius:10px;
 }
 span{
     font-weight:bold;
     text-decoration:underline;
 }
.signup {
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.6);
}
.signup-content {
    margin:15px auto;
    cursor: pointer;
    background-color: white;
    height: 640px;
    width: 500px;
    position: relative;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}
 .popup input{
     display:block;
     margin:20px auto;
     width:50%;
     padding:8px;
 }
 .signup input{
     width:50%;
     padding:8px;
 }
.genderr {
    margin: 15px auto;
    align-items: center;
    text-align: left;
    width: 30%;
}
 .form{
     margin:15px auto;
 }
label{
    display:block;
    margin:3px;
}
 #logo{
     margin:10px;
 }
.popup button{
     margin:10px;
     padding:8px;
     width:20%;
     background-color:white;
     border:1px rgb(0,0,0,0.4) solid;
 }
.signup button {
    margin:5px;
    padding: 8px;
    width: 50%;
    background-color: lightblue;
     border-radius:10px;
    border: 1px rgb(0,0,0,0.4) solid;
}
 .closed{
     position:absolute;
     top:-15px;
     right:-15px;
     border-radius:50%;
     border:1px solid grey;
 }
 #login:hover{
     color:darkorange;
 }
 #login{
     text-decoration:none;
 }
 .content{
     text-align:center;
     align-items:center;
     justify-content:center;
     align-content:center;
 }
 h3{
     padding-top:50px;
     letter-spacing:-1px;
     font-style:italic;
     font-family:serif;
 }
.main_header {
    background-image: linear-gradient(90deg, rgba(0,1,36,1) 0%, rgba(9,9,121,1) 24%, rgba(119,4,33,1) 69%, rgba(185,38,63,1) 91%);
    background-size: auto auto;
    background-clip: text;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    font-size: 120px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
