@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #f3f5f6;
    margin: 0;
    padding: 0;
}
.firstpage{
    background-image:url("img/back.jpg");
}
.row{
    display:flex;
}
.header{
    display:flex;
    justify-content:space-around;
    padding:40px 160px 40px 280px;
    font-size:20px;
}
.header div{
    padding-right:50px;
}

#dmhome {
    font-size: 30px;
    padding-left: 160px;
}
#dmhome:hover{
    color:coral;
}
.content{
    display:flex;
    justify-content:space-between;
}
.text{
    padding:40px 160px 30px 80px;
    font-size:20px;
}

.image{
    padding:50px 80px 30px 160px;
}
#img{
    border-radius:10%;
}
h1{
    font-size:25px;
}

 .popup{
     position:absolute;
     top:0;
     display:flex;
     justify-content:center;
     align-items:center;
     width:100%;
     height:100%;
     background-color:rgb(0,0,0,0.6);
 }
 .popup-content{
     cursor:pointer;
     background-color:white;
     height:330px;
     width:500px;
     position:relative;
     padding:20px;
     text-align:center;
     border-radius:10px;
 }
 span{
     font-weight:bold;
     text-decoration:underline;
 }
.signup {
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.6);
}
.signup-content {
    margin:15px auto;
    cursor: pointer;
    background-color: white;
    height: 640px;
    width: 500px;
    position: relative;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}
 .popup input{
     display:block;
     margin:20px auto;
     width:50%;
     padding:8px;
 }
 .signup input{
     width:50%;
     padding:8px;
 }
.genderr {
    margin: 15px auto;
    align-items: center;
    text-align: left;
    width: 30%;
}
 .form{
     margin:15px auto;
 }
label{
    display:block;
    margin:3px;
}
 #logo{
     margin:10px;
 }
.popup button{
     margin:10px;
     padding:8px;
     width:20%;
     background-color:white;
     border:1px rgb(0,0,0,0.4) solid;
 }
.signup button {
    margin:5px;
    padding: 8px;
    width: 50%;
    background-color: lightblue;
     border-radius:10px;
    border: 1px rgb(0,0,0,0.4) solid;
}
 .closed{
     position:absolute;
     top:-15px;
     right:-15px;
     border-radius:50%;
     border:1px solid grey;
 }
 #login{
     text-decoration:none;
 }
 #login:hover{
     color:darkorange;
 }
.user_profile {
    position: absolute;
    margin: 0;
    top: 40px;
    right: 20px;
    z-index: 1;
    display: none;
}
 #avatar{
     display:inline;
     margin:0;
     padding:10px 0 0 0;
     width:40px;
     height:40px;
     border-radius:50%;
 }
 #user_name{
     display:inline;
     margin:0;
     font-size:25px;
 }
 .content{
     text-align:center;
     align-items:center;
     justify-content:center;
     align-content:center;
 }
 h3{
     justify-content:center;
     padding:70px 70px 700px 70px;
     letter-spacing:-1px;
     font-style:italic;
     font-family:serif;
 }
.main_header {
    background-image: linear-gradient(90deg, rgba(0,1,36,1) 0%, rgba(9,9,121,1) 24%, rgba(119,4,33,1) 69%, rgba(185,38,63,1) 91%);
    background-size: auto auto;
    background-clip: text;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    font-size: 120px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
.first{
    width:100%;
    height:100%;
}
/*second page*/
.person_content {
    background-color: #f4f4f4;
    font-size: 20px;
    padding: 120px 150px 150px 150px;
    border-bottom: 1px solid gray;
}

.person_content_hd {
    width: auto;
    font-size: 49px;
    padding: 20px 0px 70px 0px;
    font-family: 'Onest',Arial,sans-serif;
    line-height: 1.20;
    font-weight: 400;
    letter-spacing: 0.2px;
    background-position: center center;
}

.person_content-main {
    display: inline-flex;
}

.all1 {
    flex-grow: 1;
    flex-basis: 0;
}

.pcol1 {
    display: inline-flex;
}
.pcol1 img{
    width:600px;
    border-radius:10%;
}

.pcol2 {
    flex-grow: 1;
    flex-basis: 0;
    padding: 30px 0px 0px 90px;
}
.purified{
    padding-top:70px;
}
.person_content p {
    font-size: 17px;
    font-weight: initial;
}

.person_content h4 {
    font-size: 20px;
    font-weight: bold;
}

.person_content-info {
    display: inline-flex;
    justify-content: space-between;
}

.icon1 {
    flex-grow: 1;
    flex-basis: 0;
    padding: 70px 70px 70px 0px;
}

.icon2 {
    flex-grow: 1;
    flex-basis: 0;
    padding: 70px 70px 70px 0px;
}

.icon3 {
    flex-grow: 1;
    flex-basis: 0;
    padding: 70px 0px 70px 0px;
}
.person_content-info img{
    width:45px;
}
a .start{
    font-weight:lighter;
    text-decoration:none;
    color:black;
}
.start:hover{
    color:darkorange;
}

/*third page*/
.video{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:80px;
    padding-top:0;
}
.mark {
    padding-top: 80px;
    font-family: serif;
    font-size: 45px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.lineUp {
    animation: 2s anim-lineUp ease-out 5s;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
